<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Maanav Rajesh">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Exhibitions - MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <img id="logo" src="../static/monomuse.png" alt="MonoMuse Museum Logo" />
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a id="navselected" href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    <h3> Exhibition 1: Digital Dreams: Art in the Age of Technology</h3>
    <p> This exhibition explores the dynamic relationship between art and technology, 
        showcasing how digital innovation is reshaping creative expression and 
        audience engagement.</p>

    <h3> Exhibition 2: Interactive Media Lab</h3>
    <p> Dive into the world of interactive media and experiment with cutting-edge technologies 
        that blur the lines between creator and audience.</p>
    <footer>
        <p id="copyYear"></p>
        <p>MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>

